/*-- COLORES --*/
/*-- TAMANIOS --*/
* {
  box-sizing: border-box; }
body {
    background-image: url(../img/);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
  background: white; }
  .container .esfera {
    background: #ff9933;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    padding: 25px; }
  .container .estrella-1 .star-five {
    margin: 12.5px 0;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid #ff0000;
    border-left: 25px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container .estrella-1 .star-five:before {
    border-bottom: 20px solid #ff0000;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -11.25px;
    left: -16.25px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container .estrella-1 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.75px;
    left: -26.25px;
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-bottom: 17.5px solid #ff0000;
    border-left: 25px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container .estrella-2 .star-five {
    margin: 10px 0;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #ff0000;
    border-left: 20px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container .estrella-2 .star-five:before {
    border-bottom: 16px solid #ff0000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -9px;
    left: -13px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container .estrella-2 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.6px;
    left: -21px;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #ff0000;
    border-left: 20px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }
  .container .estrella-3 .star-five {
    margin: 7.5px 0;
    position: relative;
    display: block;
    color: #ff0000;
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-bottom: 10.5px solid #ff0000;
    border-left: 15px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg); }
  .container .estrella-3 .star-five:before {
    border-bottom: 12px solid #ff0000;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -6.75px;
    left: -9.75px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .container .estrella-3 .star-five:after {
    position: absolute;
    display: block;
    color: #ff0000;
    top: 0.45px;
    left: -15.75px;
    width: 0px;
    height: 0px;
    border-right: 15px solid transparent;
    border-bottom: 10.5px solid #ff0000;
    border-left: 15px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }

/*# sourceMappingURL=main.css.map */
